<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.VoteMessageMapper">
  <resultMap id="BaseResultMap" type="com.model.VoteMessage">
    <id column="message_id" jdbcType="INTEGER" property="messageId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="batch_id" jdbcType="INTEGER" property="batchId" />
  </resultMap>
  <insert id="insert" parameterType="com.model.VoteBatch">
    insert into vote_message (message_id, user_name, batch_id)
    values (#{messageId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{batchId,jdbcType=INTEGER})
  </insert>
  <select id="select" resultMap="BaseResultMap">
    select
    *
    from vote_message
    where user_name = #{userName,jdbcType=VARCHAR} and batch_id = #{batchId,jdbcType=INTEGER}
  </select>
</mapper>