<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.VoteQuestionMapper">
  <resultMap id="BaseResultMap" type="com.model.VoteQuestion">
    <id column="question_id" jdbcType="INTEGER" property="questionId" />
    <result column="question_name" jdbcType="VARCHAR" property="questionName" />
    <result column="question_batchid" jdbcType="INTEGER" property="questionBatchId" />
    <result column="question_a" jdbcType="VARCHAR" property="questionA" />
    <result column="question_b" jdbcType="VARCHAR" property="questionB" />
    <result column="question_c" jdbcType="VARCHAR" property="questionC" />
    <result column="question_d" jdbcType="VARCHAR" property="questionD" />
    <result column="number_a" jdbcType="INTEGER" property="numberA" />
    <result column="number_b" jdbcType="INTEGER" property="numberB" />
    <result column="number_c" jdbcType="INTEGER" property="numberC" />
    <result column="number_d" jdbcType="INTEGER" property="numberD" />
  </resultMap>
  <insert id="insert" parameterType="com.model.VoteBatch">
    insert into vote_question (question_id, question_name, question_batchid, question_a, question_b, question_c, question_d, number_a, number_b, number_c, number_d)
    values (#{questionId,jdbcType=INTEGER}, #{questionName,jdbcType=VARCHAR}, #{questionBatchId,jdbcType=INTEGER}, #{questionA,jdbcType=VARCHAR},
      #{questionB,jdbcType=VARCHAR}, #{questionC,jdbcType=VARCHAR}, #{questionD,jdbcType=VARCHAR}, #{numberA,jdbcType=INTEGER}, #{numberB,jdbcType=INTEGER}, #{numberC,jdbcType=INTEGER}, #{numberD,jdbcType=INTEGER})
  </insert>
  <select id="selectByBatchId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    *
    from vote_question
    where question_batchid = #{questionBatchId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByBatchId" parameterType="java.lang.Integer">
    delete from vote_question
    where question_batchid = #{questionBatchId,jdbcType=INTEGER}
  </delete>
  <select id="selectByQuestionId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    *
    from vote_question
    where question_id = #{questionId,jdbcType=INTEGER}
  </select>
  <update id="updateCheckNumber" parameterType="com.model.VoteQuestion">
    update vote_question
    set number_a = #{numberA,jdbcType=INTEGER},
      number_b = #{numberB,jdbcType=INTEGER},
      number_c = #{numberC,jdbcType=INTEGER},
      number_d = #{numberD,jdbcType=INTEGER}
    where question_id = #{questionId,jdbcType=INTEGER}
  </update>
</mapper>